.container {
    background-color: #535b7c;
    padding: 1rem;
    border-radius: 8px;
    max-width: 500px;
}

.container a {
    display: inline-block;
    margin: 10px 5px;
    padding: 5px;
    background-color: #0e1129;
    border-radius: 5px;
}

.container a:hover {
    background-color: #fff;
    color: #0e1129;
}

.container span {
    background-color: #2b3566;
    margin: 2px;
    padding: 1px;
    border-radius: 3px;
}

.stats {
    margin-top: 5px;
}

.error {
    display: flex;
    justify-content: center;
}