.search {
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.search h2 {
    color: #27317a;
}

.search_container input, 
.search_container button {
    padding: 0.6rem;
    border: none;
    outline: none;
    border-radius: 3px;
    color: #27317a;
}

.search_container button {
    background-color: #27317a;
    cursor: pointer;
}