.user {
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.user img {
    width: 250px; 
    border: 4px solid #27317a;
    border-radius: 50%;
}

.user h2 {
    color: #27317a;
}

.location {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.location svg {
    fill: #27317a;
    font-size: 1.5rem;
}

.location span {
    color: #27317a;
}

.stats {
    display: flex;
}

.stats div {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.stats div:first-child {
    border-right: 1px solid #27317a;
}

.stats .number {
    background-color:#27317a;
    padding: .2rem .4rem;
    border-radius: 3px;
}

.user a {
    text-align: center;
    background-color: #27317a;
    padding: 1rem;
    border-radius: 5px;
    opacity: 0.8;
    transition: 0.3s;
}

.user a:hover {
    opacity: 1;
    cursor: pointer;
}